.navbar {
    flex-direction: row-reverse;
    margin-right: 20px;
}

.nav-link {
    display: flex;
    justify-content: flex-end;
}

.jumbotron{
    border: solid;
    text-align: end;
    display: flex;
    justify-content: flex-end;
}

#quote {
    margin: 0;
    border: solid red;

}