/* pallette for the website */
:root{
    --darkred:#603429;
    --dustypink:#bc9593;
    --darkbeige: #cfc2b4;
    --lightgrey: #cfccc7;
    --darkblue: #2f484e;
    --midblue: #6f8597;
    --darkpurple: #4e4b54;
    --midpurple: #77737c;
    --midgreen:#8bb5a9;
    --darkgreen: #294039;
    --lightbeige: #ebeae8;
    --border: solid 2px rgb(96, 52, 41, 0.5);

}

html {
    color: var(--darkgreen) !important;
}

body {
    background-color: rgb(139, 181, 169, 0.1);
}

#header {
    background-color: var(--midgreen) !important;
}

.navbar {
    flex-direction: row-reverse;
    margin-right: 20px;
    background-color: var(--midgreen) !important;
    font-size: 20px;
}

.nav-link {
    display: flex;
    justify-content: center;
    background-color: rgba(240, 243, 247, 0.4);
}

.jumbotron{
    text-align: end;
    display: flex;
    justify-content: space-between;
    height: 20rem;
    
}

#hero {
    background-image: url(./andrew-ridley-jR4Zf-riEjI-unsplash.png);
    background-repeat: no-repeat;
    background-size:cover;
}

#profilePic {
    margin-top: 40px;
    margin-left: 1rem;
    border-radius: 200px;
    z-index: 2;
}

/* custom box shadow for quote with fade*/
#quote {
    margin: 10rem 0rem 1rem 0rem;
    color: black;
    background-color: rgba(240, 243, 247, 0.8);
    width: max-content;
    box-shadow: 0 0 50px 30px rgba(240, 243, 247, 0.9) !important;
    display: flex;
    align-items: flex-end;
}


.lead {    
    font-size: 1.3rem;
    font-weight: 400;
    padding: 0.5rem;
}

.card {
    height: 100%;
    border: var(--border)}

#projects {
    margin-top: 12px;
    margin-bottom: 12px;
}

.card-body {
    background-color: #2f484e !important;
    color: white;

}

#skillsAmContact {
    font-size: 20px;
    margin-bottom: 10px;
}

#skillcol {
    height: 100%;
    text-align: center;
    background-color:var(--lightbeige);
    border: var(--border);
    border-radius: 15px;
    margin:0.5px;
}

/* used to stop the words overflowing */
.skills {
    padding: 5px;
}

#aboutme{
    height: 100%;
    background-color: var(--lightbeige);
    border: var(--border);
    border-radius: 15px;
    padding: 10px;
    margin:0.5px;
}

/* used as everytime it stacked under the skills section there would be no space seperating it which made it hard to read */
@media (max-width: 767.98px){
    #aboutme {margin-top: 15px;}
}

#footer {
    background-color: var(--midgreen);
    font-size: 20px;
    margin-top: 25px;
}

#contactSection {
    display: flex;
    padding-top: 11px;
    justify-content: space-around;
}


#contactTitle {
    font-size: 25px;
    font-weight: bolder;
    padding-left: 20px;
    display: flex;
    justify-content: center;
}

#contactLinks {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

/* box shadow on hover - two box shadows used to create leaf shape */
#contactLinks a:hover {
    color: white;
    box-shadow: 
    5px 5px 10px rgba(235, 234, 232, 0.7), 
    -5px -5px 10px rgba(235, 234, 232, 0.7);
}
